* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: qanelas;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.container {
    height: 430px;
    width: 320px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

.container i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    font-size: 55px;
    transition: transform ease 0.5s;
}